:root{
  --main-bg-color:#05689d;
  --sub-bg-color:#81b4ce;
  --header-height: 7vh;
  --footer-height: 3vh;
  --body-height: calc(100vh- var(--header-height) - var(--footer-height));
  --font-normal:#909399;
  --user-logo: 30px;
  --title-font-size: 16px;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none; 
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#fix-window {
  width: 100vw;
  height: 100vh;
}

.el-main {
  padding: 0px;
  position: relative; /* 这个是新增的，注意 */  
}

.el-footer {
  background-color: var(--sub-bg-color) ;
  height: var(--footer-height);
}

.el-container {
  width: 100%;
  flex-flow: wrap;
}

.auto-size-box{
  height: 100%;
}


.el-row {
  display: flex;
  justify-content:space-between; 
}
.el-row:last-child {
  margin-bottom: 0;
}
.el-col {
  border-radius: 4px;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}

#home {
  width: 100%;
  height: inherit;
  background-size:auto 100%;
  background-position: center center;
  background-image: url('../assets/homeBG.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}

.el-footer {
  display: flex;
  justify-content: center;
}

.footer-info {
  margin-left: 3vh;
}

.tag {
  font-size: var(--title-font-size);
  line-height: var(--title-font-size);
}


.module-card{
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 999;
  display: flex;
  color: #000;  
  height: 44px;

}

.module-name {
  position: relative;
  height: 44px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid rgba(0,0,0,0.2);
  background-color: #fff;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  line-height: 44px;
  
}

.back-btn {
  position: relative;
    height: 44px;
  margin-left: 10px;
  border: 2px solid rgba(0,0,0,0.2);
  background-color: #fff;
  border-radius: 5px 0px 0px 5px;

  /* 以下两个要一起用才能让子元素在父元素中上下居中对齐 */
  display: flex;
  align-items: center;
}

.back-btn .el-icon{
  margin-left: 10px;  
  margin-right: 10px;  
}